<!DOCTYPE html>
<head>
    <title>Pokémon size comparison tool.</title>
    <link rel="icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/css/compare.css?v={{timestamp}}">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
            integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<html lang="">
<body>
<div id="panel" class="no-transition">
    <div class="superSubPanel">
        <div class="subPanel">
            <div class="flexLine">
                <div class="remove-mobile" style="margin: 20px"></div>
                <div class="title" style="flex-grow: 20;">PokéSizes {{height}}</div>
                <button id="closeButton" class="remove-mobile" onclick="togglePanel()"><</button>
            </div>
            <div class="inputLine">
                <form id="addMon" action="/add" method="post">
                    <select id="monSelect" name="mon" id="select-tools" placeholder="Pick a pokemon.">
<!--                        <option value="Trainer">Trainer</option>-->
                        <option value="" disabled selected>Select your Pokemon.</option>
                        {{#each mon_names}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        <option value="MissingNo">MissingNo</option>
                    </select>
                    <input id="monSubmit" type="submit" value="+">
                </form>
            </div>
            <div id="selector" class="subPanel">
                {{#each mons}}
                    {{if @index}}
                    <form id="{{this.index}}remove" action="/remove" method="post"></form>
                    <input form="{{this.index}}remove" hidden="hidden" name="mon" value="{{this.index}}" />
                    <form id="{{this.index}}up" action="/order" method="post"></form>
                    <input form="{{this.index}}up" hidden="hidden" name="from" value="{{this.index}}" />
                    <input form="{{this.index}}up" hidden="hidden" name="up" value="true" />
                    <form id="{{this.index}}down" action="/order" method="post"></form>
                    <input form="{{this.index}}down" hidden="hidden" name="from" value="{{this.index}}" />
                    <input form="{{this.index}}down" hidden="hidden" name="up" value="false" />
                    <form id="{{this.index}}alpha" action="/alpha" method="post"></form>
                    <input form="{{this.index}}alpha" hidden="hidden" name="mon" value="{{this.index}}" />
                    <input form="{{this.index}}alpha" hidden="hidden" name="alpha" value="{{this.alpha}}" />
                    <div class="flexLine">
                        <div class="flexLine" style="margin-right: 5px">
                            <button id="submit{{this.name}}" form="{{this.index}}up" {{#if @first}} disabled {{/if}}><i class="fa fa-angle-double-up"></i> </button>
                            <button id="submit{{this.name}}" form="{{this.index}}down" {{#if @last}} disabled {{/if}}><i class="fa fa-angle-double-down"></i> </button>
                        </div>
                        <div class="flexLine" style="flex-grow: 200">
<!--                            todo, up or down button that sends a reorder form from index to index+1 or -1, -->
                            <span>{{this.name}}</span>
                            <button id="submit{{this.name}}" form="{{this.index}}alpha">{{#if this.alpha}}a{{/if}}{{#unless this.alpha}}A{{/unless}}</button>
                        </div>
                    <div class="flexLine" style="margin-left: 5px">
                        <button onclick="IssueWindow('{{this.name}}')" {{#if (is_trainer this.name)}} disabled {{/if}}><i class="fa fa-warning"></i></button>
                        <button id="submit{{this.name}}" form="{{this.index}}remove"><i class="fa fa-times"></i> </button>
                    </div>
                    </div>
                {{/each}}
            </div>
            </div>
        </div>
        <form action="/reset" method="post">
            <input type="submit" value="Reset">
        </form>
    </div>

<div id="reportWindow" class="hidden floatingBG">
    <div class="floating">
        <button onclick="CloseWindow()" class="closeButton"><i class="fa fa-times"></i> </button>
        <div>
            Report issue with <span id="reportName">name</span>.
        </div>
        <div>
            <form id="reportForm" action="/report" method="post">
                <input id="reportNameHidden" hidden="hidden" name="mon" value="name" />
                <select id="reasonSelect" name="reason" >
                    <option value="+">The Pokémon is too big.</option>
                    <option value="-">The Pokémon is too small.</option>
                    <option value="!">Other!</option>
                </select>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
<div id="container" class="pokemonContainer">
    <div id="background"></div>
    <div id="content" class="content">
        {{#each mons}}
            <img draggable="false" (dragstart)="false;" class="unselectable {{#if this.alpha}} alpha{{/if}}"
                 style="height: {{this.size}}px;
                         margin-bottom: -{{div_ten_floor this.size}}px;
                    {{#if this.alpha}}
                        -webkit-filter: drop-shadow(0 0 {{size_to_border this.size}}px crimson);
                        filter: drop-shadow(0 0 {{size_to_border this.size}}px crimson);
                    {{/if}}" src="{{this.image}}">
        {{/each}}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
        integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>
<script>
    $('#monSelect').selectize({
        maxOptions: 2000,
    });
</script>
<script src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>

<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js">
    window.onload = function () {
        let el = document.getElementById('selector');
        Sortable.create(el);
    }
</script>
<script src="/static/js/compare.js?v={{timestamp}}"></script>
</body>
</html>
